<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org">

  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/sticky-footer.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <!--ブートストラップ-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <title>登録完了</title>
</head>
<body>

    登録できました。

</body>
</html>