/*
.rankTable{
  position: absolute;
  top: 40%;
  left: 25%;
  text-align: center;
  height:100%;
  overflow-y: scroll;

}
.wordTable{
  position: absolute;
  top: 40%;
  right: 25%;
  z-index: 999;
  height:100%;
  overflow-y: scroll;
}

#form-control2{
  display: inline-block;
  border: 1px solid #535353;
  width: 30%;
  height: 34px;
  font-size: 14px;
}

#form-control3{
  display: inline-block;
  border: 1px solid #535353;
  width: 30%;
  height: 34px;
  font-size: 14px;
  margin: 0 0 0 150px;
}

.btn-border2 {
  display: inline-block;
  max-width: 300px;
  text-align: center;
  border: 2px solid #96b9b1;
  font-size: 16px;
  color: #96b9b1;
  background-color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: .4s;
  margin: 0 0 0 10px;
  }
  
  .btn-border2:hover {
    background-color: #df744a;
    border-color: #df744a;
    color: #fff;
  }
  */
  .et_pb_module {
    display: inline-block;
  }
  
  
  .secList {
    /*display: inline-block;*/
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
    
  .secList:hover {
    border: solid 2px #67c5ff;
    background: #67c5ff;
    color: white;
    outline: none;
  }
  
  .et_pb_text_inner1 {
    background-color: #EAD9FF;
  }
  
  .et_pb_text_inner2 {
    background-color: #FFD5EC;
  }
  
  .et_pb_text_inner3 {
    background-color: #FFDBC9;
  }

  #table1 {
    /*border-collapse: collapse;
    width: 500px;*/
   }

   #th1,#td1 {
    /*border: solid 1px #ccc;*/
    padding: 5px;
   }

