th {
    color: #535353;
}
.redmessage {
    font-size: large ; 
    color: red;
}

#input_plural {
    margin: 10px 0;
}
 
#input_plural input.form-control {
    display: inline-block;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}
 
#input_plural input.pluralBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}


input#submit_button {
    width: 200px;
    height:30px; 
}

.delete-button{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #df744a;
    font-size: 16px;
    color: #df744a;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: .4s;
    outline: none;
  }
  
  .delete-button:hover {
    background-color: #df744a;
    border-color: #df744a;
    color: #fff;
  }

#wordBlank {
    margin: 0 0 0 20px;
}

#contentBlank {
    margin: 0 40px 0 40px;
}

#contentBlank2 {
    /*削除依頼の右側の余白*/
    margin: 0 40px 0 0;
}

.nomal{
    word-break: normal;
}

.large{
    font-size: x-large ;
    text-decoration: none;
}

.small{
    font-size: x-small；
}


.container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 



.gridbu{
    min-height: 100vh;
    display: flex;
}

.smartRanking{
    min-height: 100vh;
    position: relative;
    top: 78px;
}

div#displayAll{
    width: 100%;
}

.grovalNavigation{
    background-color: #ffffff;  
    color: #535353;
    text-align: center;    
    position: fixed;  
    top: 78px;
    min-height: 100vh;
    right: 0;
    width: 10%;   
    color: #535353;
}

.localNavigation{

    color: #535353;
    background-color: #fedcd2;
    text-align: center;
    position: fixed;
    top: 78px;
    height:100%;
    overflow-y: scroll;
    text-align: center;
    background-color: #fedcd2;
    width: 20%;
    color: #535353;

}

.contents {
    text-align: center;
    background-color: #ffffff;
    position: relative;
    top: 78px;
    left: 25%;
    width: 60%;    
}

div#picture1{
    position:relative;
}

/* ここから下がボタンのCSS　*/
.btn-border {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #96b9b1;
    font-size: 16px;
    color: #96b9b1;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: .4s;
}
  
.btn-border:hover {
    background-color: #df744a;
    border-color: #df744a;
    color: #fff;
    outline: none;
}

div#footer-bk{
    background-color: #444;
    padding: 10px 0 20px;
    height: 110px;
    width: 100%;
}

div#footer{
    border: 5px solid #fff;
    height: 100%;
    width: 960px;
    margin: auto;
}
div#manu{
    text-align: left;
    /*margin: 0 0 0 270px;*/
}

div#fontcolor{ 
    /*基本的な文字の色*/
    color: #535353;
}

#colorbutton{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #bfd8d2;
    font-size: 16px;
    color: #bfd8d2;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: .4s;
    background-color: #ffffff;
}

#textcolor{
    color: #535353;
}


/*もっと見る関係の配色*/ 
.more {
    background: #dcb239;
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
li {
    margin: 0 0 5px;
}

.topButtonCor {
text-decoration: none;
background: #dcb239;
color: #fff;
width: 200px;
text-align: center;
padding: 8px 0px;
}
.topButtonCor:hover{
    text-decoration: none;
    color: #535353;
}

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2%;
    bottom: -50px;
    background: #ef3f98;
    opacity: 0.6;
    border-radius: 50%;
}



#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    }

#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}


/*ローカルナビゲーションのテーブルがキュってなるやつ*/
.ProductTable {    
    border-collapse: separate;
    border-spacing: 8px 8px;
    border-radius: 6px;    
}
.ProductTable td {
    border-bottom: 1px solid #535353;
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}