th {
    /*background-color: #fedcd2;*/
    color: #535353;
    /*font-family: "YuMincho +36p Kana","游明朝体+36ポかな";*/
}
.redmessage {
    font-size: large ; 
    color: red;
}
input#submit_button {
    width: 200px;
    height:30px; 
}

.delete-button{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #df744a;
    font-size: 16px;
    color: #df744a;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    /*padding: 0px 75px;*/
    border-radius: 4px;
    transition: .4s;
  }
  
  .delete-button:hover {
    background-color: #96b9b1;
    border-color: #96b9b1;
    color: #fff;
  }

#wordBlank {
    /*padding: 10px 0 20px;*/
    margin: 0 0 0 20px;
}

#contentBlank {
    /*padding: 10px 0 20px;*/
    margin: 0 0 0 40px;
}

.nomal{
    word-break: normal;
}

.large{
    font-size: x-large ; 
    /*margin: 5px 0 0 20px;*/

}

.small{
    font-size: x-small；
}


.container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 



.gridbu{
    min-height: 100vh;
    display: flex;
    
}

.grovalNavigation{
    position: fixed;
    flex: 1;
    position: fixed;
    top: 78px;
    text-align: center;
    background-color: #bfd8d2;   
    min-height: 100vh;
    width: 300px;   
    color: #535353;
}
.localNavigation{
    flex: 1;
    position: fixed;

    top: 78px;
    right: 0;
    height:100%;
    overflow-y: scroll;
    text-align: center;
    background-color: #fedcd2;
    height: 100% auto;
    width: 300px;
    color: #535353;
}
.contents {
    /*flex: 2;*/
    position: relative;
    top: 78px;
    /*z-index: -1;*/
    left: 25%;
    width: 50%;
    text-align: center;
    background-color: #ffffff;
}

div#picture1{
    position:relative;
    /*top:60px; */
}

/* ここから下がボタンのCSS　*/
.btn-border {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #96b9b1;
    font-size: 16px;
    color: #96b9b1;
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    /*padding: 0px 75px;*/
    border-radius: 4px;
    transition: .4s;
  }
  
  .btn-border:hover {
    background-color: #df744a;
    border-color: #df744a;
    color: #fff;
  }

div#footer-bk{
    background-color: #444;
    padding: 10px 0 20px;
    height: 110px;
    width: 100%;
}

div#footer{
    border: 5px solid #fff;
    height: 100%;
    width: 960px;
    margin: auto;
}
div#manu{
    /*padding: 0px 300px;*/
    text-align: left;
    margin: 0px 0 0 150px;
}

div#fontcolor{ /*基本的な文字の色*/
    color: #535353;
}

#colorbutton{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #bfd8d2;
    font-size: 16px;
    color: #bfd8d2;
    text-decoration: none;
    font-weight: bold;
    /*padding: 0px 75px;*/
    border-radius: 4px;
    transition: .4s;
    background-color: #ffffff;
}

#textcolor{
    color: #535353;
}
/*
body {
    padding:40px;
  }
*/

/*もっと見る関係の配色*/ 
  .more {
      background: #dcb239;
      color: #fff;
      width: 200px;
      text-align: center;
      padding: 5px;
      cursor: pointer;
  }
  li {
      margin: 0 0 5px;
  }

  .topButtonCor {
    text-decoration: none;
    background: #dcb239;
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 8px 0px;
  }
  .topButtonCor:hover{
      text-decoration: none;
      color: #535353;
    }

    #page_top{
        width: 50px;
        height: 50px;
        position: fixed;
        right: 2%;
        bottom: -50px;
        background: #ef3f98;
        opacity: 0.6;
        border-radius: 50%;
        
      }


      #page_top a{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-decoration: none;
      }

      #page_top a::before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f106';
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -5px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
