th {
    background-color: #fedcd2;
    color: #ffffff;
    font-family: "YuMincho +36p Kana","游明朝体+36ポかな";
}
.redmessage {
    font-size: large ; 
    color: red;
}
input#submit_button {
    width: 200px;
    height:30px; 
}


.nomal{
    word-break: normal;
}


.container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 



.gridbu{
    min-height: 100vh;
    display: flex;
}

.grovalNavigation{
    flex: 1;
    text-align: center;
    background-color: #bfd8d2;
    color: #f9fcfb;
}
.localNavigation{
    flex: 1;
    text-align: center;
    background-color: #fedcd2;
    color: #f9fcfb;;
}
.content{
    flex: 2;
    text-align: center;
    background-color: #ffffff;
}

div#picture1{
    position:relative;
    /*top:60px; */
}

/* ここから下がボタンのCSS　*/
.btn-border {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #bfd8d2;
    font-size: 16px;
    color: #96b9b1;
    text-decoration: none;
    font-weight: bold;
    /*padding: 0px 75px;*/
    border-radius: 4px;
    transition: .4s;
  }
  
  .btn-border:hover {
    background-color: #df744a;
    border-color: #f9fcfb;
    color: #f9fcfb;
  }

div#footer-bk{
    background-color: #444;
    padding: 10px 0 20px;
    height: 110px;
    width: 100%;
}

div#footer{
    border: 5px solid #fff;
    height: 100%;
    width: 960px;
    margin: auto;
}
div#manu{
    padding: 0px 75px;
}

div#fontcolor{
    color: #243743;
}

#colorbutton{
    display: inline-block;
    max-width: 300px;
    text-align: center;
    border: 2px solid #bfd8d2;
    font-size: 16px;
    color: #bfd8d2;
    text-decoration: none;
    font-weight: bold;
    /*padding: 0px 75px;*/
    border-radius: 4px;
    transition: .4s;
    background-color: #ffffff;
}

#textcolor{
    color: #8e9190;
}


