<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Exception画面</title>
</head>
<body>
    <div align="center">
        <div id=header-fixed>
            <div id=header-wh>
                <img th:src="@{/images/logo.png}" height=95%>
                <!--<h1>ソフぺディア</h1>-->
                <h3>Exception画面</h3>
              </div>
            </div>
        
        
            <div id =body-bk>
              <div id=body>
        <p class="redmessage" th:text="${message}">ダミーのエラーメッセージ</p>
        <a href="index.html" th:href="@{/}">メインメニューへ</a>
    </div>
</div>
</div>
<div id=footer-fixed align="right">
    <div id=footer-wh>
        <img th:src="@{/images/teamlogo.png}" height=110%>
        <!--<h1>ソフぺディア</h1>-->
      </div>
    </div>
</body>
</html>