<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<!-- Custom styles for this template -->
<link th:href="@{/css/sticky-footer.css}" rel="stylesheet">
<link th:href="@{/css/page.css}" rel="stylesheet">

<head>
  <script th:inline="javascript">
    /*<![CDATA[*/
      var len = /*[[${wordsList.size()}]]*/ '0';
      document.title = /*[[${searchName}]]*/ 'error';
    /*]]>*/
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
  <link th:href="@{/css/ranking.css}" rel="stylesheet">
  <!--jqueryとか-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.js"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/wordLimit.js}"></script>
  <script th:src="@{/js/moreLook.js}"></script>
  <script th:src="@{/js/backToTop.js}"></script>
  <title>document.title</title>

</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
    <div class="d-lg-none">
      <div align="center">
        <form action="index.html" th:action="@{/words/searchName}">
          <input type="search" id="form-control2" class="mr-sm-2" placeholder="語句検索..." aria-label="語句検索..." name="name">
          <button type="submit" class="btn-border">検索</button>
        </form>
      </div>
    </div>
    <div align="center">
      <h4 id="top"><p th:text="${message}">test</p></h4><br>
      <th:block th:unless="${wordsList.size()}">
        <h4 id="top contentBlank" style="text-align: left;">検索のヒント</h4>
        <h6 id="top contentBlank" style="text-align: left;">・キーワードに誤字・脱字がないか確かめて下さい。</h6>
        <h6 id="top contentBlank" style="text-align: left;">・違うキーワードを使ってみてください。</h6>
        <h6 id="top contentBlank" style="text-align: left;">・より一般的な言葉を使ってみてください。</h6>
        <br>
        <h4 id="top contentBlank" style="text-align: left;">それでも見つからない場合は</h4>
        <form action="index.html" th:action="@{/words/inputContent}" method="POST" name="myFORM">
          <input type="hidden" name="name" th:value="${inputname}">
        <h6 id="top contentBlank" style="text-align: left;">　新規語句の追加は<a href="#" onClick="document.myFORM.submit();">こちら</a></h6>
      </form>
      </th:block>

      <div class="content">
        <script>
          var num=0;
          var count=0;
        </script>
        <tr th:each="words : ${wordsList}" th:object="${words}">
          <div class="nomal">
            <table>
              <tr >                  
                <td>
                  <a style="margin: 0 0 0 5%; color: #bfd8d2;" class="large" th:href="@{'/words/cand/'+ *{nameByURL}}"><span style="color:#bfd8d2;" th:text="*{name}">メイン</span></a>
                  <th:block th:if="${words.abbName.size()}">
                    <br>
                    <th:block th:each="abb, iterStat:*{abbName}">
                      <span th:if="${iterStat.first}" th:text="${abb}" style="margin: 0 0 0 5%;">略語</span>
                      <span th:unless="${iterStat.first}" th:text="${abb}">略語</span>
                      <span th:unless="${iterStat.last}">, </span>
                    </th:block>
                  </th:block>
                </td>
              </tr>
              <tr>
                <td align="left" width="600">
                  <!--//20文字以上の文章で[...]で省略-->
                  <p style="margin: 0 0 0 5%;" class="text_limit" th:text="*{content}">test</p>
                </td>
              </tr>
            </table>
          </div>
          <!-- ページネーションうまくいってない
          <script>
            $(function() {
              var $item = $('.items').pagination({
                  itemElement              : '> .item',
                  paginationClassName      : 'pagination',
                  paginationInnerClassName : 'clearfix'
              });
          
              $('.sample-button').on('click', function() {
                  $item.movePage(3);
                  return false;
              });
            });
          </script>
          -->
          <script　th:inline="javascript">
            num=num+1;
            if (4 < num && num%7==0 && num!=len) {
                document.write('</div><div class="more">もっと見る</div><div class="content">');               
            } 
            if(num==len){
              document.write('<a class="topButtonCor" href="#">トップに戻る</a>');
            }
          </script>
        <br>
        </tr>
  
      </div>
    </div>
  </div>

</body>
</html>