<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<!-- Custom styles for this template -->
<link th:href="@{/css/sticky-footer.css}" rel="stylesheet">

<head>
    <script th:inline="javascript">

        /*<![CDATA[*/
            document.title = /*[[${searchName}]]*/ 'error';
        /*]]>*/
        </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

  <!--jqueryとか-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/wordLimit.js}"></script>
  <script th:src="@{/js/moreLook.js}"></script>
  <script th:src="@{/js/backToTop.js}"></script>
  <title>document.title</title>

</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
    <div class="d-lg-none">
            <form class="form-inline my-2 my-lg-0" th:action="@{/words/searchName}">
              <input type="search" class="form-control mr-sm-2" placeholder="語句検索..." aria-label="語句検索..." name="name">
              <button type="submit" class="btn-border">検索</button>
            </form>
          </div>
    <div align="center">
      <h4 id="top"><p th:text="${message}">test</p></h4>

    <div class="content">
      <script>var num=0;</script>
      <tr th:each="words : ${wordsList}" th:object="${words}">
        <div class="nomal">
          <table>
            <tr >                  
              <td align="left" width="600">
                <a class="large" th:href="@{'/words/id/'+ *{nameByURL}}"><span style="color:#bfd8d2;" th:text="*{name}">メイン</span></a>
                <th:block th:if="${words.abbName.size()}">
               　<th:block th:each="abb, iterStat:*{abbName}"> <!-- ステータス変数はカンマ区切りで2つ目の引数として受け取れる -->
                  <span th:text="${abb}">略語</span>
                  <span th:unless="${iterStat.last}">, </span><!-- last変数はループの最後でtrueを返します -->
                </th:block>
                </th:block>
              </td>
            </tr>
            <tr >
              <td align="left" width="600">
              <!--//20文字以上の文章で[...]で省略-->
                <p class="text_limit" th:text="*{content}">test</p>
              </td>
            </tr>
          </table>
          </div>



            <script　th:inline="javascript">
              num=num+1;
              
              var len = /*[[${wordsList.size()}]]*/ '0';

              if (4 < num && num%5==0 && num!=len) {
                  document.write('</div>');
                  document.write('<div class="more">もっと見る</div>');
                  document.write('<div class="content">');                  
              } 
              if(num==len){
                document.write('<a class="topButtonCor" href="#top">トップに戻る</a>');
              }
            </script>
        </tr>
        
        
      </div>
      <!--<div id="page_top"><a href="#"></a></div>-->
    </div>
  </div>

</body>
</html>