<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<!--ブートストラップ-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

<title>メインメニュー</title>
</head>

<body>
  <div layout:fragment="content">
  <div align="center">
    <h3>削除結果</h3>

      <div id =body-bk>
        <div id=body>
    <form action="index.html" th:action="@{index}">
	    <input type="submit" value="メインメニューに戻る">
    </form>
    <br>


    <td th:text="*{message}">鈴木太郎</td>
  </div>
</div>
</div>
</div>

  <!--jqueryとか-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo.js}"></script>

</body>
</html>