<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<!--jqueryとか-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/button.js}"></script>
<!--削除ポップアップ-->
<script>
    function confirmDelete(){
      flag = confirm("削除依頼を申請しますか？");
      if ( flag == true ){
        return true;
      }else{
        return false;
      }
    };

  </script>
<title>削除申請</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
  <div align="center" id="fontcolor">

    <h3>削除申請依頼</h3>
    <br>
    
    <form action="index.html" method="POST" th:action="@{deleterequestresult}">
      <br>
      <h4>語句：<td th:text="${name}">鈴木太郎</td></h4>
      <br>
      <div>
        <table border="1">
          <tr><th>削除依頼理由を記入してください.</th></tr>
          <td><textarea class="form-control"  name="reason" cols="40" rows="8" style="border:1px solid black; outline:none;" onMouseover="this.style.borderColor='red'" onMouseout="this.style.borderColor='black'"></textarea></td>
        </table>
      </div>

      <div style="display:inline-flex">
      <input type="hidden" th:value="${name}" name="name">
      <input onclick="return confirmDelete()" class="btn-border" type="submit" value="申請">
    </form>
    <form action="index.html" th:action="@{backURL}">
      <input class="btn-border" type="submit" value="戻る">
    </form>
    </div>
  </div>
</div>

</body>
</html>