<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
  <meta charset="UTF-8">
  <!--ブートストラップ-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <title>メインメニュー</title>
</head>

<body>
  <div layout:fragment="content">
  

  <div align="center"　id="fontcolor">
    <h3>削除</h3>
    <br>
    <form action="index.html" th:action="@{deleteName}" method=POST>
        語句: <input type="text" name="name" th:value="${name}">
        <input id="colorbutton" type="submit" value="削除">
    </form>

    <div th:if="${message}">
      <br>
      <p class="redmessage">
        <td th:text="*{message}">鈴木太郎</td>
      </p>
    </div>

    <div th:if="${words}">
    <table border="1">
      <tr>
        <th>ID</th>
        <th>語句</th>
        <th>ユーザID</th>
        <th>内容</th>
        <th>作成日時</th>
        <th>編集日時</th>
      </tr>
      <tr th:object="${words}">
        <td th:text="*{id}">111</td>
        <td th:text="*{name}">鈴木太郎</td>
        <td th:text="*{userID}">222</td>
        <td th:text="*{content}">鈴木です。</td>
        <td th:text="*{createdDate}">2020-07-01</td>
        <td th:text="*{updatedDate}">2020-07-02</td>
      </tr>
    </table>
    </div>
  </div>
  </div>
  <!--jqueryとか-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/demo.js}"></script>
</body>
</html>