<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/sticky-footer.css}" rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <!--ブートストラップ-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <title>メインメニュー</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content"></div>

  <!--jqueryとか-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/demo.js}"></script>
</body>
</html>