<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
<head>
  <meta charset="UTF-8">
  <!--ブートストラップ-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
  <link th:href="@{/css/ranking.css}" rel="stylesheet">
  <title>メインメニュー</title>

    <!--jqueryとか-->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/demo.js}"></script>
    <script th:src="@{/js/ranking.js}"></script>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
    <!--スマホ用-->
    <div class="d-lg-none">
      <p></p>
      <div align="center">
        <form action="index.html" th:action="@{/words/searchName}" >
          <input type="search" id="form-control2" class="mr-sm-2" placeholder="語句検索..." aria-label="語句検索..." name="name">
          <input class="btn-border" type="submit" value="検索">
        </form>
      </div>
      <div align="center">
        <br>
         <!-- List -->
        <div class="et_pb_module">
          <button id="fuu" class='secList'>ランキング</button>
        </div>
      
        <div class="et_pb_module">
          <button id="euu" class='secList'>新着の語句</button>
        </div>
      
        <!-- Sections -->
        <div class="fuu section">
          <h2>検索ランキング</h2>
          <table id="table1" width="200px">
            <tr id="tr1">
              <td id="td1">
                <th:block th:each="rank : ${session['rankingList']}"><!---->
                  <nobr><a class="text_limit2 large" style="color:#fa8383" th:href="@{'/words/id/'+ ${rank}}"><span th:text="${rank}">test</span></a></nobr>
                  <br>
                </th:block>
              </td>
            </tr>
          </table>
        </div>
      
        <div class="euu section">
          <h2>新着の語句</h2>
          <table table="table1" width="200px">
            <tr id="tr1">
              <td id="td1">
                <th:block th:each="newWords : ${session['newWordsList']}">
                  <nobr><a class="text_limit2 large" style="color: #fa8383;" th:href="@{'/words/id/'+ ${newWords}}"><span th:text="${newWords}">メイン</span></a></nobr>
                  <br>
                </th:block>
              </td>                  
            </tr>
          </table>
        </div>
      </div>

    </div>



    <div class="d-none d-lg-block">
      <div id="fontcolor">
        <font size="5">マニュアル</font><br><br>
        <div id="manu">
          <table align="center">
            <tr>
              <td>
                ・ホーム：このページに戻ります。
              </td>
            </tr>
            <tr>
              <td>
                ・検索：調べたい用語を調べることができます。
              </td>
            </tr>
            <tr>
              <td>
                ・新規追加：追加したい用語を追加できます。
              </td>
            </tr>
          </table>
         </div>
          <br>
          <font size="5">語句ページの操作方法</font><br><br>
          <div id="manu">
            <table align="center">
              <tr>
                <td>
                  ・編集：内容を編集できます。
                </td>
              </tr>
              <tr>
                <td>
                  ・削除申請：削除したい用語の削除申請が送れます。
                </td>
              </tr>
              <tr>
                <td>
                  ・戻る：前のページに戻ります。
                </td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>


</body>
</html>