<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>

</head>

<body>
  <div align="center">
    <div id=header-fixed>
    <div id=header-wh>
        <img th:src="@{/images/logo.png}" height=95%>
        <!--<h1>ソフぺディア</h1>-->
        <h3>メインメニュー</h3>
      </div>
    </div>

    <div id =body-bk>
      <div id=body>
    <table>
      <!-- ボタン -->
      <tr>
        <td>
          <form action="index.html" th:action="@{findAll}">
            <input type="submit" value="全表示" id="submit_button">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="index.html" th:action="@{search}">
            <input type="submit" value="検索" id="submit_button">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="index.html" th:action="@{insertMain}">
            <input type="submit" value="追加" id="submit_button">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="index.html" th:action="@{updateMain}">
            <input type="submit" value="更新" id="submit_button">
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="index.html" th:action="@{delete}">
            <input type="submit" value="削除" id="submit_button">
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
<div id=footer-fixed align="right">
  <div id=footer-wh>
      <img th:src="@{/images/teamlogo.png}" height=110%>
      <!--<h1>ソフぺディア</h1>-->
    </div>
  </div>
</body>
</html>