<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<title>メインメニュー</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
  <div align="center" id="fontcolor">

      
    <div th:if="${message}">
        <br>
        <p class="redmessage">
            <td th:text="*{message}">鈴木太郎</td>
        </p>
    </div>
    
    
    <form action="index.html" method="POST" th:action="@{insertComplete}" th:object="${wordsForm}">
        <div th:errors="${name}" class="redmessage">
            ダミーメッセージ
        </div>
    <br>
    語句：<td th:text="${name}">鈴木太郎</td>
    <table border="1">
      <tr><th>内容</th></tr>
      <td><textarea name="content" cols="40" rows="8" th:field="*{content}"></textarea></td>

    </table>

    <input type="hidden" th:value="${name}" name="name">
    <input type="hidden" th:value="1" name="userID">
    <input type="submit" value="追加">
    </form>
  </div>

</div>


<!--jqueryとか-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo.js}"></script>
</body>
</html>