<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
<head>
    <meta charset="UTF-8">
    <title>新規追加画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">     
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
    <div layout:fragment="content">
    <div align="center">
        <h3>新規追加</h3>
        <form action="index.html" th:action="@{index}">
            <input type="submit" value="メインメニューに戻る">
        </form>
        <form method="post" action="index.html" th:action="@{insertComplete}" th:object="${wordsForm}">
            <div th:errors="*{name}" class="redmessage">
                ダミーメッセージ
            </div>
            <div th:errors="*{userID}" class="redmessage">
                ダミーメッセージ
            </div>
            <div th:errors="*{content}" class="redmessage">
                ダミーメッセージ
            </div>
    
            <table border="1">
                <tr>
                    <th>ID</th>
                    <td>(自動採番されます)</td>
                </tr>
                <tr>
                    <th>語句</th>
                    <td>
                        <input type="text" name="name" th:field="*{name}">
                    </td>
                </tr>
                <tr>
                    <th>ユーザーID</th>
                    <td>
                        <input type="text" name="userID" th:field="*{userID}">
                    </td>
                </tr>
                <tr>
                    <th>内容</th>
                    <td>
                        <input type="text" name="content" th:field="*{content}">
                    </td>
                </tr>
            </table>
            <input type="submit" value="登録">
        </form>
    </div>
    </div>

    <!--js読み込み-->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/demo.js}"></script>
</body>
</html>