<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>
</head>

<body>
  <div align="center">
    <div id=header-fixed>
      <div id=header-wh>
          <img th:src="@{/images/logo.png}" height=95%>
          <!--<h1>ソフぺディア</h1>-->
          <h3>追加画面</h3>
        </div>
      </div>

      <div id =body-bk>
        <div id=body>
    <form action="index.html" th:action="@{/}">
	    <input type="submit" value="メインメニューに戻る">
    </form>
    <br>

    <div th:if="${message}">
        <br>
        <p class="redmessage">
            <td th:text="*{message}">鈴木太郎</td>
        </p>
    </div>
    
    
    <form action="index.html" method="POST" th:action="@{insertComplete}" th:object="${wordsForm}">
        <div th:errors="${name}" class="redmessage">
            ダミーメッセージ
        </div>
    <br>
    語句：<td th:text="${name}">鈴木太郎</td>
    <table border="1">
      <tr><th>内容</th></tr>
      <td><textarea name="content" cols="40" rows="8" th:field="*{content}"></textarea></td>

    </table>

    <input type="hidden" th:value="${name}" name="name">
    <input type="hidden" th:value="1" name="userID">
    <input type="submit" value="追加">
    </form>
  </div>
</div>
</div>
<div id=footer-fixed align="right">
  <div id=footer-wh>
      <img th:src="@{/images/teamlogo.png}" height=110%>
      <!--<h1>ソフぺディア</h1>-->
    </div>
  </div>
</body>
</html>