<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<!--jqueryとか-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/button.js}"></script>

<title>新規追加画面</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
  <div align="center" id="fontcolor">
      
    <div th:if="${message}">
        <br>
        <p class="redmessage">
            <td th:text="*{message}">鈴木太郎</td>
        </p>
    </div>
    
    
    <form action="index.html" method="POST" th:action="@{insertComplete}" th:object="${wordsForm}">
        <div th:errors="*{content}" class="redmessage">
            ダミーメッセージ
        </div>
    <br>
    語句：<td th:text="${name}">鈴木太郎</td>

    <div id="input_pluralBox">
      <div id="input_plural">
        <input id="firsttext" type="text" name="array[]" class="form-control" placeholder="同意語を入力してください"><!--name="array[]" -->
        <input type="button" value="＋" class="add pluralBtn">
        <input type="button" value="－" class="del pluralBtn">
      </div>
    </div>

    <table border="1">
      <tr><th>内容</th></tr>
      <td><textarea class="form-control"  name="content" cols="40" rows="8" th:field="*{content}"></textarea></td>

    </table>
    <div style="display:inline-flex">
    <input type="hidden" th:value="${name}" name="name">
    <input class="btn-border" type="submit" value="追加">
    </form>
    <form action="index.html" th:action="@{backURL}">
      <input class="btn-border" type="submit" value="戻る">
    </form>
    </div>
  </div>

</div>

</body>
</html>