<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
  <meta charset="UTF-8">
  <!--ブートストラップ-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <title>追加結果</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
  <div align="center" id="fontcolor">  
    <h3>追加結果</h3>
    <br>
    <td th:text="*{message}">鈴木太郎</td>
    <td th:text="*{name}">鈴木太郎</td>
    <td th:text="*{userId}">鈴木太郎</td>
    <td th:text="*{content}">鈴木太郎</td>
  </div>
  </div>

  <!--js読み込み-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/demo.js}"></script>
</body>
</html>