<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>
</head>

<body>
  <div align="center">
    <div id=header-fixed>
      <div id=header-wh>
          <img th:src="@{/images/logo.png}" height=95%>
          <!--<h1>ソフぺディア</h1>-->
          <h3>追加結果</h3>
        </div>
      </div>

      <div id =body-bk>
        <div id=body>
    <form action="index.html" th:action="@{index}">
	    <input type="submit" value="メインメニューに戻る">
    </form>
    <br>

    <td th:text="*{message}">鈴木太郎</td>
    <td th:text="*{name}">鈴木太郎</td>
    <td th:text="*{userId}">鈴木太郎</td>
    <td th:text="*{content}">鈴木太郎</td>
  </div>
</div>
</div>
</body>
</html>