<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規追加画面</title>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>

    <div id=header-fixed align="center">
        <div id=header-wh>
            <img th:src="@{/images/logo.png}" height=95%>
            <!--<h1>ソフぺディア</h1>-->
            <h3>新規追加</h3>
          </div>
        </div>
    <div align="center">

        <div id =body-bk>
            <div id=body>
<form action="index.html" th:action="@{index}">
    <input type="submit" value="メインメニューに戻る">
</form>
<form method="post" action="index.html" th:action="@{inputContent}" >
    語句: <input type="text" name="name" th:value="${name}">
    <input type="submit" value="登録">
</form>
</div>
</div>
</div>
<div id=footer-fixed align="right">
    <div id=footer-wh>
        <img th:src="@{/images/teamlogo.png}" height=110%>
        <!--<h1>ソフぺディア</h1>-->
      </div>
    </div>
</body>
</html>