<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/sticky-footer.css}" rel="stylesheet">

<html>
<head>
  <script th:inline="javascript">
    /*<![CDATA[*/
      document.title = /*[[${pageName}]]*/ 'error';
    /*]]>*/
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

  <title>document.title</title>
</head>

<body>
  <!--<div th:if="${message}">鈴木</div>-->
  <!--テンプレ-->
  <div layout:fragment="content">


  <div align="left" id="fontcolor">
    <h2 class="normal"> <span th:text="${wordsList.get(0).name}">メイン</span> </h2>
    
    <form action="index.html" th:action="@{/words/updateSearchId}" method="POST" style="display: inline;">
      <input type="hidden" name="name" th:value="${name}">
      <input id="colorbutton" class="small" type="submit" value="編集">
    </form>

    <div align="right" id="fontcolor">
      <!--yyyy/MM/dd HH:mm:ss.SSSの表記を分までに短縮中-->
      <p class="normal">編集日時：<span th:text="${#temporals.format(wordsList.get(0).updatedDate, 'yyyy/MM/dd HH:mm')}">メイン</span></p>
    </div>

    <!--
    <form action="index.html" th:action="@{/words/updateSearchId}"　method="POST">
     <input type="hidden" name="sample" >
    </form>
    <a th:href="@{/words/updateSearchId}" type="text" th:value="${name}">編集</a>
    -->
    </div> 
  
    
    <div th:if="${wordsList.get(0).abbName}">
    略語：<th:block th:each="words, iterStat:${wordsList}"> <!-- ステータス変数はカンマ区切りで2つ目の引数として受け取れる -->
      <span th:text="${words.abbName}">略語</span>
      <span th:unless="${iterStat.last}">, </span><!-- last変数はループの最後でtrueを返します -->
    </th:block>
    <br>
    <br>
    </div>

    <br>
    <script th:inline="javascript">
      var str = /*[[${wordsList.get(0).content}]]*/ '内容';
      str = str.replace(/\r?\n/g, '<br>');
      document.write(str);
    </script>
    <br>
    <br>
  </div>


  <!--jqueryとか-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/demo.js}"></script>

</body>
</html>