<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
  <!-- Custom styles for this template -->
  <link th:href="@{/css/sticky-footer.css}" rel="stylesheet">

<html>
<head>
  <!--削除ポップアップ-->
  <script>
    function confirmDelete(){
      flag = confirm("削除依頼を取り消しますか？");

      // 「はい」が押されたときの処理
      if ( flag == true ){
        return true;
      }else{    // 「いいえ」が押されたときの処理
        return false;
      }
    };

  </script>

  <script th:inline="javascript">
    /*<![CDATA[*/
      document.title = /*[[${pageName}]]*/ 'error';
    /*]]>*/
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

  <title>document.title</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
    
    <div class="d-none d-xl-block">
      <!--PCの時 -->         
      <h3 align="left" class="normal" id="wordBlank"><nobr><span th:text="${wordsList.get(0).name}">メイン</span></h3></nobr>          
    </div>

    <div class="d-xl-none">
      <!--スマホの時-->  
      <h4 align="left" class="normal" id="wordBlank"><span th:text="${wordsList.get(0).name}">メイン</span></h4><!--align="left"-->
    </div>

    <!--yyyy/MM/dd HH:mm:ss.SSSの表記を分までに短縮中-->
    <div align="right">
      <div style="display:inline-flex">

      <form action="index.html" th:action="@{/words/updateSearch}" method="POST">
        <input type="hidden" name="name" th:value="${wordsList.get(0).name}">
        <input class="btn-border" type="submit" value="編集">
      </form>

      <th:block th:if="${deleteRequest}">
        <form action="index.html" th:action="@{/words/deleterequestcancel}" method="POST">
          <input type="hidden" name="name" th:value="${wordsList.get(0).name}">
          <input onclick="return confirmDelete()" class="delete-button" type="submit" value="削除申請取消">
        </form>
      </th:block>
      <th:block th:unless="${deleteRequest}">
        <form action="index.html" th:action="@{/words/deleterequest}" method="POST">
          <input type="hidden" name="name" th:value="${wordsList.get(0).name}">
          <input class="delete-button" type="submit" value="削除申請">
        </form>
      </th:block>
      <form action="index.html" th:action="@{/words/backwords}">
        <input class="btn-border" type="submit" value="戻る">
      </form>
    </div>
    <p class="normal"><nobr>編集日時：<span th:text="${#temporals.format(wordsList.get(0).updatedDate, 'yyyy/MM/dd HH:mm')}">メイン</span></nobr></p>
  
    </div>

    <!--線-->
    <hr color="#535353">


  
      
    <div th:if="${wordsList.get(0).abbName}">
      同意語：<th:block th:each="words, iterStat:${wordsList}"> <!-- ステータス変数はカンマ区切りで2つ目の引数として受け取れる -->
      <script th:inline="javascript">
        var str = /*[[${words.abbName}]]*/ '同意語';
        document.write(str);
      </script>
      <span th:unless="${iterStat.last}">, </span><!-- last変数はループの最後でtrueを返します -->
      </th:block>
      <br>
      <br>
    </div>

    <br>
    <div align ="center" id="contentBlank">
    <script th:inline="javascript">
      var str = /*[[${wordsList.get(0).content}]]*/ '内容';
      str = str.replace(/\r?\n/g, '<br>');
      document.write(str);
    </script>
    </div>
      <br>
      <br>
  </div>


  <!--jqueryとか-->
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/demo.js}"></script>

</body>
</html>