<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    lang="ja">
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/css/newWords.css"
          th:href="@{/css/newWords.css}">
<!--<html xmlns:th="http://www.thymeleaf.org"></html>-->
<!-- (1)共通にしたいheadをfragment化する -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/js/wordLimit.js}"></script>

<body> 
    <!-- (5)body内で共通化したい部品をfragment化する -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">
          <img th:src="@{/images/logo.png}" width="100" height="50" class="d-inline-block align-top" alt="ブランド">
        </a>
        <button type="button" class="navbar-toggler"
         data-toggle="collapse" data-target="#Navber" 
         aria-controls="Navber" aria-expanded="false"
         aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">ホーム <span class="sr-only">(現位置)</span></a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="#">ユーザ情報</a>
            </li>
            -->
          </ul>
          <form class="form-inline my-2 my-lg-0" th:action="@{/words/searchName}">
            <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索..." name="name">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
          </form>
        </div>
      </nav>
     
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <!--992px以上で表示-->
            <div class="d-none d-lg-block">
            <p>グローバルナビゲーション</p><br>
            <p>操作メニュー</p>
            <table>
                <tr>
                  <td>
                    <form action="index.html" th:action="@{/words/insertMain}">
                      <input type="submit" value="追加" id="submit_button" class="btn-border">
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <form action="index.html" th:action="@{/words/updateMain}">
                      <input type="submit" value="更新" id="submit_button" class="btn-border">
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <form action="index.html" th:action="@{/words/delete}">
                      <input type="submit" value="削除" id="submit_button" class="btn-border">
                    </form>
                  </td>
                </tr>
              
            </table>
          </div>
          </div>

          <div class="col-4-sm">
            <img class="d-block mx-auto" th:src="@{/images/logo.png}" > 
            <!--コンテンツ-->
            <p class="d-none d-sm-block d-md-none">メニューバーをタップすると語句検索できるようになります</p>
            <div layout:fragment="content"></div>
          </div>

          <div class="col-sm">
            
            <!--<div align="right"></div>-->
            <div class="d-none d-lg-block">
              <p>ローカルナビゲーション</p>
            <div align="center">
              <table valign="bottom">          
                <div class="ribbon16-wrapper">
                  <div class="ribbon16-content">
                    <h3>新着の語句</h3>
                    <span class="ribbon16">NEW</span>
                  </div>
    
                  <th:block th:each="newWords : ${session['newWordsList']}">
                    <tr>
                      <td>
                        <a class="large" th:href="@{'/words/id/'+ ${newWords}}"><span style="color: #96b9b1;" th:text="${newWords}">メイン</span></a>
                        <hr color="#535353"> 
                      </td>                  
                    </tr>
                  </th:block>
                </div>
              </table>
            
              <table valign="bottom">          
                <div class="ribbon16-wrapper">
                  <div class="ribbon16-content">
                    <h3>　検索ランキング</h3>
                    <span class="ribbon16">ランク</span>
                  </div>
              <table>
                <th:block th:each="rank : ${session['rankingList']}">
                  <tr>
                    <td>
                      <a class="text_limit2 large" style="color:#bfd8d2;" th:href="@{'/words/id/'+ ${rank}}"><span th:text="${rank}">test</span></a>
                      <!--<a class="large" th:href="@{'/words/id/'+ ${rank}}"><span style="color:#bfd8d2;" th:text="${rank}">メイン</span></a>-->
                    </td>
                  </tr>
                </th:block>
              </table>
                </div>
            </div>
          </div>

        </div>
      </div>

  <!--footer-->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright@ sofpedia, 2020 All Right Reserved.</p>
    </div>
  </footer>


    
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>


</html>