<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">
<link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<!-- Custom styles for this template -->
<link th:href="@{/css/sticky-footer.css}" rel="stylesheet">
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
<!--jqueryとか-->
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/demo.js}"></script>
<script th:src="@{/js/button.js}"></script>
<title>更新画面</title>
</head>

<body>
    <!--テンプレ-->
    <div layout:fragment="content">
  <div align="center"　id="fontcolor">

    <div th:if="${error}">
      <p class="redmessage" th:text="*{error}"></p>
    </div>
    
    <form action="index.html" method="POST" th:action="@{updateComplete}">
    <br>
    語句：<td th:text="${wordsList.get(0).name}">鈴木太郎</td>
    <br>
    
    <!-- ステータス変数はカンマ区切りで2つ目の引数として受け取れる -->
    <!-- last変数はループの最後でtrueを返します -->
    <!--
    <div th:if="${wordsList.get(0).abbName}">
    略語：<th:block th:each="words, iterStat:${wordsList}"> 
      <span th:text="${words.abbName}">略語</span>
      <span th:unless="${iterStat.last}">, </span>
    </th:block>
    </div>-->

    <div id="input_pluralBox">
      <th:block th:each="words, iterStat:${wordsList}">
        <div id="input_plural">
          <input type="text" name="array[]" class="form-control" th:value="${words.abbName}" placeholder="同意語を入力してください">
          <input type="button" value="＋" class="add pluralBtn">
          <input type="button" value="－" class="del pluralBtn">
        </div>
      </th:block>
    </div>

    <br>

    <table border="1">
        <tr><th>内容</th></tr>
        <tr>
        <td><textarea name="content" cols="40" rows="8" class="form-control" th:inline="text">[[${wordsList.get(0).content}]]</textarea></td></tr>
  
      </table>

    <div style="display:inline-flex">
    <input type="hidden" th:value="*{wordsList.get(0).id}" name="id">
    <input class="btn-border" type="submit" value="更新">
    </form>
    <form action="index.html" th:action="@{backURL}">
      <input class="btn-border" type="submit" value="戻る">
    </form>
    </div>
  </div>
</div>
</body>
</html>