<!DOCTYPE html>
<!--テンプレ-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{words/common.html}">

  <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/css/style.css}">
<html>
<head>
  <meta charset="UTF-8">
  <!--ブートストラップ-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
  <title>更新画面</title>
</head>

<body>
  <!--テンプレ-->
  <div layout:fragment="content">
  <div align="center"　id="fontcolor">
    <h3>更新</h3>
    <br>

    <form action="index.html" th:action="@{updateSearch}" method="POST">
        語句: <input type="text" name="name" th:value="${name}">
        <input class="btn-border" type="submit" value="語句検索">
    </form>
    
    <div th:if="${message}">
      <br>
      <p class="redmessage">
        <td th:text="*{message}">鈴木太郎</td>
      </p>
    </div>
  </div>
  </div>

  <!--jqueryとか-->>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/demo.js}"></script>
</body>
</html>